---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Aside from "@/components/Aside.astro";
import Player from "@/components/Player.astro";
import Chat from "@/components/Chat.astro";
---

<Layout title="desst3 - Twitch">
  <main class="w-full h-dvh">
    <Header />
    <Aside />
    <Player />
    <Chat />
  </main>
</Layout>

<style>
  main {
    display: grid;
    /* grid-template-columns: 240px 1328px 340px; */
    grid-template-columns: 240px 4fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "header header header" "aside video chat";
  }

  @media screen and (width <= 1280px) {
    main {
      grid-template-columns: 65px 3fr 1fr;
    }
  }

  @media screen and (width <= 633px) {
    main {
      grid-template-columns: 65px 3fr;
      grid-template-areas: "header header" "aside video";
    }
  }
</style>
