---
interface Props {
  title: string;
  position: string;
}

const { title, position } = Astro.props;

const POSITIONS: { [key: string]: { tooltip: string; triangle: string } } = {
  bottom: {
    tooltip: "top-[140%] left-2/4 -translate-x-2/4",
    triangle: "left-2/4 border-b-8 border-b-white border-r-[6px] border-r-transparent border-l-[6px] border-l-transparent -translate-x-2/4",
  },
  right: {
    tooltip: "top-0 left-2/4 translate-x-2/4",
    triangle: "top-2 border-r-8 border-r-white border-t-[6px] border-t-transparent border-b-[6px] border-b-transparent -translate-x-full",
  },
};
---

<span
  class="hover:bg-zinc-700 p-1 rounded transition-all relative group cursor-pointer"
>
  <slot />
  <div
    class={`absolute ${POSITIONS[position].tooltip} w-max opacity-0 group-hover:opacity-100 transition-all duration-500 pointer-events-none`}
  >
    <span
      class={`absolute ${POSITIONS[position].triangle} w-0 h-0 bottom-full`}
    ></span>
    <p class="p-1 bg-white text-black w-max rounded text-xs font-bold">
      {title}
    </p>
  </div>
</span>
