---
import CollapseIcon from "./Icons/Collapse.astro";
import CommunityIcon from "./Icons/Community.astro";
import ButtonIcons from "./ButtonIcons.astro";
import ChatFooter from "./ChatFooter.astro";
import ChatMessagesList from "./ChatMessagesList.astro";
---

<section class="chat-container w-full">
  <header
    class="w-full flex items-center justify-between border-b border-b-zinc-600 px-2 py-3"
  >
    <ButtonIcons title="Collapse" position="right">
      <CollapseIcon class="rotate-180" />
    </ButtonIcons>
    <h3 class="text-zinc-200 font-semibold uppercase text-[13px]">
      Stream chat
    </h3>
    <ButtonIcons title="Community" position="left">
      <CommunityIcon class="size-5 fill-white" />
    </ButtonIcons>
  </header>
  <ChatMessagesList />
  <ChatFooter />
</section>

<style>
  .chat-container {
    grid-area: chat;
    display: grid;
    grid-template-rows: 53px 1fr 131px;
    grid-template-columns: 1fr;

    height: calc(100dvh - 50px);
  }

  @media screen and (width <= 633px) {
    .chat-container {
      display: none;
    }
  }
</style>
