---
import SearchIcon from "@/components/Icons/Search.astro";
---

<form class="hidden md:flex overflow-hidden">
  <input
    type="search"
    placeholder="Search"
    class="border border-gray-600 bg-transparent p-2 w-80 outline-purple-500 outline-2 rounded-sm text-sm"
  />
  <button type="submit" class="bg-[#34343b] grid place-items-center p-1 rounded-r-sm"
    ><SearchIcon size="size-6" /></button
  >
</form>
